{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>About Encomp</h2>

            <p>Encomp is a calculation hosting platform envisioned by Andrew Young. When finished, it will enable users to build powerful engineering calculation templates, with simple interfaces, and professional looking reports. The vision of this project is to enable quick engineering design checks and automated reporting for frequently used calculations.</p><br>

            <p>Follow along with the progress or contribute on <a href="https://github.com/youandvern/encomp">Github</a>. </p><br>

            </div>
    </div>
</div>
{% endblock %}
