{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div id="about-content" class="">
            <h2>What is <span class="blue-text"><b>EnComp</b></span>?</h2>

            <p><span class="blue-text"><b>EnComp</b></span> is a platform that will enable engineers to digitalize calculations which would traditionally be done by hand or in custom spreadsheets. <br><br>
              <span class="blue-text"><b>EnComp</b></span> not only hosts scalable and streamlined calculations but can help ensure your organization's young engineers are aware of the engineering checks
              and code references that go into a design. Additionally, the detailed calculation reports boost transparency during quality control and submittal reviews. <br><br>
              <span class="blue-text"><b>EnComp</b></span> is an open-source platform and interested engineers are always welcome to collaborate on <a href="https://github.com/youandvern/encomp">Github</a>.
            </p><br>

            <h2>Vision</h2>

            <p>In an industry with no margin for error and where efficiency is king - automating calculations that are beyond the realms of Finite Element Analysis software are essential. <br><br>
            Our vision is to empower engineers to create customizable templates for frequently used calculations that allow for quick engineering design checks and automated reporting.
            </p><br>

            <!-- <p>Have feedback or want to say hi on a Zoom call? Contact us at team@encompapp.com</p> -->

            </div>
    </div>
</div>
{% endblock %}
