    <div class="form-popup" id="addProjectForm">
        <form class="form-container" name="addproject" action="" method="post" novalidate>
          <fieldset class="form-group">
            <legend>Add New Project</legend>
            {{ pform.hidden_tag() }}
            <p>
              {{ pform.project_name.label }}<br>
              {{ pform.project_name(size=35) }}
              {% for error in pform.project_name.errors %}
                <span class="error-message">{{ error }}</span>
              {% endfor %}
            </p>
            <p>
              {{ pform.description.label }}<br>
              {{ pform.description(size=20) }}
              {% for error in pform.description.errors %}
                <span class="error-message">{{ error }}</span>
              {% endfor %}
            </p>
            <p>
              {{ pform.submit() }}
              <button class="btn cancel" onclick="closeProjectForm()">Close</button>
            </p>
            </fieldset>
        </form>
    </div>
