{% extends "base.html" %}

{% block content %}
    <div class="row centerdiv">
        <div class="trash-div"> </div>
        <div class="col-md-12 text-center container">

          <div class="container-fluid text-center" id="title-container">
            <div class="flex-left">

              <div class="back-div">
                <form action="" method="post">
                  <input type="hidden" name="go_back" value="True">
                  <h2 class="tight"><button class="image-only-btn in-line-button"  title="Go Back" value="go_back"><img id = "go_back_page" src="{{ url_for('static', filename='images/left_arrow_symbol.png')}}"></button></h2>
                </form>
              </div>

            </div>

            <div class="logo-container">
              <h2> <button id="calc_name_btn" type="button" onclick="openCalcChangeForm()" name="calc_name_btn">{{ calculation_name }} </button> </h2>
            </div>

            <div class="beside-logo">

            </div>
          </div>

            <p> {{ calculation_description }} </p>

            <div class="horizontal-container design-dashboard-container">

            <div class="design-input-container">
              <h3>Calculation Inputs</h3>
              <form class="design-input-form" action="" method="post">

              <table class="design-input-table">
                <tr>
                  <th>Description</th>
                  <th>Name</th>
                  <th>Value</th>
                  <th>Units</th>
                </tr>

                  {% for item in calc_inputs %}
                  <tr>
                    <td class="design-input-description" > {{ item.description }} </td>
                    <td class="design-input-name" title = "{{ item.description }}"> \( {{ item.name }} \) </td>
                    <td class="design-input-value">
                      {% if item.input_type == "number" %}
                      <input class="design-input-input" type="number" name="{{ item.name }}" step = "{{ item.num_step }}" min = "{{ item.min_value }}" max = "{{ item.max_value }}" value={{ item.strResult() }} required>
                      {% elif item.input_type == "select" %}
                      <select class="design-input-input" name="{{ item.name }}">
                        {% for option in item.input_options %}
                          {% if option.strip() == item.strResult().strip() %}
                            <option selected> {{ option }} </option>
                          {% else %}
                            <option> {{ option }} </option>
                          {% endif %}
                        {% endfor %}
                      </select>
                      {% else %}
                      <input class="design-input-input" type="text" name="{{ item.name }}" value="{{ item.strResult() }}" required>
                      {% endif %}
                    </td>
                    <td class="design-input-unit"> \(  {{ item.unit }} \) </td>
                  </tr>
                  {% endfor %}
              </table>

              <button class="project-bullet design-btn" name="update_results_submitted">Update Results</button>

              </form>

            </div>

            <div class="design-spacer">

            </div>

            <div class="design-verification-container">
              <h3>Design Verification</h3>

              {% for item in calc_results %}

                {% if item.description %}
                <p class="description"> {{ item.description }}: </p>
                {% endif %}

                {% if item.__class__.__name__ =='CheckVariable' %}
                  <p class="check {{ item.passfail }}" title = "{{ item.a.description }} {{ item.op }} {{ item.b.description }}"> \( {{ item.strSymbolic().replace("&","") }} \rightarrow \) {{ item.result() }}</p>
                {% else %}
                  <p class="result" title = "{{ item.description }}"> \( {{ item.name }} \) <b>= {{ item.strResult() }}</b> \(  {{ item.unit }} \) </p>
                {% endif %}
              {% endfor %}


              <form action="" method="post">
                <input type="hidden" name="show_calc_report" value="True">
                <button class="project-bullet design-btn" formtarget="_blank" title="Display calculation report in a new tab" value="show_calc_report">Show Report</button><br>
              </form>
              <form action="" method="post">
                <input type="hidden" name="print_calc_report" value="True">
                <button class="project-bullet design-btn" formtarget="_blank" title="Display calculation report in a new tab" value="print_calc_report">Print Report</button><br>
              </form>

            </div>

            </div>


            </div>
            <div class="trash-div">
              <h2><button type="button" class="image-only-btn fixed-btn" onclick="openDeleteCalcForm()" title="Delete current calculation"><img id = "delete_current_calculation" src="{{ url_for('static', filename='images/delete_symbol.png')}}"></button></h2>
              <br><br>
              <form action="" method="post">
                <input type="hidden" name="export_calc" value="True">
                <h2><button class="image-only-btn fixed-btn"  title="Export current calculation" value="export_calc"><img id = "export_current_calculation" src="{{ url_for('static', filename='images/export_symbol.png')}}"></button></h2>
              </form>

            </div>
    </div>

    <!----------------- UPDATE CALC POPUP----------------->
    {% include "includes/changecalcnamepop.html" %}

    <!----------------- DELETE CALC POPUP----------------->
    {% include "includes/deletecalcpop.html" %}

{% endblock %}
