{% extends "base.html" %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col-md-12 text-center">

            {% if session.get('username') %}
            <h2>Let's get started.</h2>
            <h4>Welcome back, <span class="blue-text"> <b>{{ session.get('username') }}.</b></span></h4>
            <br>
            <!-- <a class="logout-button" id="index-logout" href="{{url_for('logout') }}">Logout</a> -->
            {% else %}
            <h2> Welcome to <span class="blue-text"><b>EnComp</b></span>! Let's get started. </h2>
            <br>
            <!-- <p>Already registered? <a href="{{url_for('login') }}">Login</a></p>
            <p>First time here? <a href="{{url_for('register') }}">Create a free account</a> </p> -->
            {% endif %}
            </div>
    </div>
</div>
<div class="slideshow-container">

  <div class="index-video-slide fade">
    <video class="index2-video" autoplay loop muted>
      <source src="{{ url_for('static', filename='videos/EncompDesignInterfaceEdited.mp4', version='4')}}" type="video/mp4">
        Video showing design interface.
    </video>
    <div class="slideshow-text" >
        <div class="empty"></div>
        <div >
          <p class="center-text">POWERFUL AND CLEAN DESIGN INTERFACE</p>
        </div>
        <div class="empty"></div>
    </div>
  </div>

  <div class="index-video-slide fade">
    <video class="index2-video" autoplay loop muted>
      <source src="{{ url_for('static', filename='videos/EncompCalcReportEdited.mp4', version='1')}}" type="video/mp4">
        Video showing calculation reports.
    </video>
    <div class="slideshow-text">
      <div class="empty"></div>
      <div >
        <p class="center-text">DETAILED CALCULATION REPORTS</p>
      </div>
      <div class="empty"></div>

    </div>
  </div>

  <div class="index-video-slide fade">
    <video class="index2-video" autoplay loop muted>
      <source src="{{ url_for('static', filename='videos/EncompProjectsEdited.mp4', version='1')}}" type="video/mp4">
        Video showing project page interface.
    </video>
    <div class="slideshow-text" >
      <div class="empty"></div>
      <div >
        <p class="center-text">EASILY MANAGE YOUR PROJECTS</p>
      </div>
      <div class="empty"></div>

    </div>
  </div>


  <div class="index-video-slide fade">

    <video class="index2-video" autoplay loop muted>
      <source src="{{ url_for('static', filename='videos/EncompBuildCalcsEdited.mp4', version='1')}}" type="video/mp4">
        Video showing calculation coding.
    </video>
    <div class="slideshow-text" >
      <div class="empty"></div>
      <div >
        <p class="center-text">CREATE THE CALCULATIONS YOU NEED</p>
      </div>
      <div class="empty"></div>

    </div>
  </div>


<!-- https://www.w3schools.com/howto/howto_js_slideshow.asp -->

<!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>

  <!-- The dots/circles -->
  <div class="select-dots-container" style="text-align:center">
    <div class="empty"></div>
    <div class="center-dots">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
      <span class="dot" onclick="currentSlide(4)"></span>
    </div>
    <div class="empty"></div>

  </div>
</div>



{% endblock %}
