{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12 text-center">

            {% if session.get('username') %}
            <h2>Let's get started.</h2>
            <h4>Welcome back, {{ session.get('username') }}</h4>
            <br>
            <a class="logout-button" id="index-logout" href="{{url_for('logout') }}">Logout</a>
            {% else %}
            <h2> Welcome! Let's get started. </h2>
            <br>
            <p>Already registered? <a href="{{url_for('login') }}">Login</a></p>
            <p>First time here? <a href="{{url_for('register') }}">Create a free account</a> </p>
            {% endif %}
            </div>
    </div>
{% endblock %}
