{% extends "base.html" %}

    {% block content %}
<div class="container">
    <div class="row centerdiv">
        <div class="sidecontainer"></div>
        <div class="col-md-6 offset-md-3">
            <form name="login" action="" method="post" novalidate>
              <fieldset class="form-group">
                <legend>{{title}}</legend>
                {{ form.hidden_tag() }}

                <div>
                  <p>  {{ form.email.label }}</p>
                  {{ form.email(size=35) }}
                  {% for error in form.email.errors %}
                    <span class="error-message">{{ error }}</span>
                  {% endfor %}
                </div>
                <div>
                  <p>{{ form.password.label }}</p>
                  {{ form.password(size=20) }}
                  {% for error in form.password.errors %}
                    <span class="error-message">{{ error }}</span>
                  {% endfor %}
                </div>
                <div>
                  {{ form.submit(onclick="clearProjectStorage()") }}
                </div>
                </fieldset>
            </form>
        </div>
        <div class="sidecontainer"></div>
    </div>
</div>
 {% endblock %}
