:root {
  --brandGrey: #d7dae0;
  --brandDark: #212529;
  --brandBlue: #004aad;
  --brandYellow: #faa92f;
  --brandLightGreen: #D2FFC8;
  --brandGreen: #00AF54;
  --brandLightRed: #ffc8cb;
  --brandRed: #bf211e;
}

body {
        counter-reset: h2counter;
    }
  h1 {
      counter-reset: h2counter;

  }
  h2 {
      counter-reset: h3counter;
      counter-increment: h2counter;

  }
  h3 {
      counter-increment: h3counter;
  }
  h2:before {
      content: counter(h2counter) ".\0000a0\0000a0";
  }
  h3:before {
      content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
  }

button {
    background-color: var(--brandBlue);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    /* width: 100%; */
    opacity: 0.75;
}
button:hover {
    opacity: 1;
}

.temp-button {
  text-align: right;
  width: 100%;
}

.inner-calc-container > h2.h2-header {
  break-before: avoid-page;
}

.inner-calc-container > h2.h2-header ~ h2.h2-header {
  break-before: page;
}
.calc-header-break {
  break-before: page;
}


.calc-page-container {
  max-width: 7.5in;
  /* border: 2px solid gray;
  border-radius: 10px; */
  padding: 5px;
}

h1.small-h1 {
  font-size: 24px;
  text-decoration: underline;
}

.centered {
  margin:auto;
}

.right-align {
  float: right;
  /* margin-right: 0.25in */

}

.calc-container p {
  margin-top: 8px;
  margin-bottom: 5px;
  margin-left: 2em;
  max-width: 7.15in;
}

.input-definition {
  padding-left: 1em
}

.result-indent {
  padding-left: 2em
}


/* Force "display" equations to show inline without shrinking fractions to fit the standard line height */
mjx-container[jax="CHTML"][display="true"][role="presentation"], span.MJXc-display {
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  display: inline;
}

/* .MJXp-display {
    display: none !important;
} */


#tableHeader {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

#tableHeader  th{
  width: 33.33%;
  text-align: center;
  border: 1px solid black;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

@page {
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 45px;
  margin-top: max(45px, auto);
  size: letter portrait;

  @top-center {
        content: element(pageHeaderCenter);
        vertical-align: bottom;
    }

  @bottom-right {
        content: "Page "  counter(page);
        vertical-align: top;
    }
}
#pageHeaderCenter {
  width: 100%;
  position: running(pageHeaderCenter)
}
