:root {
  --brandGrey: #d7dae0;
  --brandGreyTrans: rgba(215, 218, 224, 0.6);
  --brandDark: #212529;
  --brandBlue: #004aad;
  --brandYellow: #faa92f;
  --brandLightGreen: #D2FFC8;
  --brandGreen: #00AF54;
  --brandLightRed: #ffc8cb;
  --brandRed: #bf211e;
}

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}


/* div{
  flex-grow: 0
} */

nav a {
  text-transform: uppercase;
  color: var(--brandDark);
  text-decoration: none;
}
nav a:hover {
  color: var(--brandGrey);
}
nav a.active {
  color: var(--brandGrey);
}
nav .nav-project a.nav-link {
  color: var(--brandYellow);
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  padding-inline-start: 0;
}
nav {
  margin-bottom: 2.5em;
}
nav li {
  font-family: 'Josefin Sans', sans-serif;
}
.bold-font {
  font-family: 'Josefin Sans', sans-serif;
  color: var(--brandBlue);
}

.text-center {
  text-align: center;
}

.col-md-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: var(--brandDark);
    margin-top: 0;
    margin-bottom: .5rem;
}
.h2, h2 {
    font-size: 2rem;
}
.h3, h3 {
    font-size: 1.75rem;
}
.h4, h4 {
    font-size: 1.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: var(--brandDark)
}

fieldset p {
  margin: 0;
}
span.blue-text {
    color: var(--brandBlue);
}

.small-text {
  font-size: 0.8em;
}

p.buttons {
  margin-bottom: 0px;
}

.row {
    display: flex;
    -ms-flex-wrap: wrap;
    /* margin-right: -15px;
    margin-left: -15px; */
}

button, input {
    overflow: visible;
    color: var(--brandDark);
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    min-width: 250px;
}

div.centerdiv fieldset p {
    margin-left: 0.5em;
}

html,
body {
    font-family: 'Lato', sans-serif;
    height: 100%;
    position: relative;
    margin:0px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--brandDark);
    text-align: left;
    background-color: white;
}


header {
    text-align: center;
}

li {
    display: inline;
    padding: 5px;
}

/* a {
    text-decoration: none;
    color: blue;
} */

div.column-forms {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


form legend {
  font-size: 1.75rem;
  margin-bottom: 0.5em;
}

form.user-form div{
  margin-bottom: 1em;
}
form.user-form input#submit{
  margin-top: 0.7em;
}


input[type=text], input[type=password] {
    width: 50%;
    padding: 7px;
    /* margin: 5px 0 22px 0; */
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: var(--brandGrey);
    outline: none;
}

.top-container {
    /* background: ; */
    padding:5px;
    /* border-bottom:2px solid #0f0f0f; */
}
.bottom-container {
    background: #333;
    padding:13px;
    border-top:2px solid #0f0f0f;
    /* position: absolute; */
    bottom:0;
    margin-top: 20px;
}

.container-term {
    width:80%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.page-wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.base-block {
  flex-grow: 1;
}
footer {
    text-align: center;
    height: 50px;
    color: white;
    bottom: 0px;
}
footer p {
    margin-bottom: 0rem;
    color: white;
}

.btn-submit {
    background-color: var(--brandBlue);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    /* width: 100%; */
    opacity: 0.8;
}
.btn-submit:hover {
    opacity: 1;
}

.addbtn {
  background-color: white;
  color: var(--brandGrey);
  padding: 16px 20px;
  border: 2px solid black;
  cursor: pointer;
  min-width: 50px;
  width: 100%;
  margin-bottom:10px;
  opacity: 1;
}
.addbtn:hover {
  color: var(--brandDark);
  background-color: var(--brandGrey);
}

.error-message {
    color : var(--brandRed);
}

.user_welcome {
    /* margin: 10%; */
    font-size: 1.25em;
}
.beside-logo{
  display: flex;
  justify-content: flex-end;
  text-align: right;
}
.flex-left{
  display: flex;
  justify-content: flex-start;
  text-align: left;
}
h2.tight {
  margin: 0;
}
.padded {
  padding: 0.5em;
}

form textarea#message {
  width: 500px;
  height: 100px;
  /* background-color: #fafafa; */
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  /* border: 1px solid #cccccc; */
  margin-bottom: 10px;
  padding: 5px;
  /* font-size: 1.1em; */
}

#landing-container {
  display: flex;
  justify-content: center;
  /* background-color: var(--brandBlue); */
}

.project-container{
  width: 30%;
  margin-right: 3%;
}
.calc-list-container{
  width: 35%;
  flex-direction: column;
}


.project-bullet {
  border-radius: 0;
  background-color: white;
  color: var(--brandDark);
  border: 2px solid  var(--brandBlue);
  transition-duration: 0.3s;
  margin: -1px;
  padding: 0.2em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  min-width: 50px;
  width: 100%;
  cursor: pointer;
}

.project-bullet-selected {
  color: white;
  background-color:  var(--brandBlue);
}

.project-bullet:hover {
  color: white;
  background-color:  var(--brandBlue);
}

.design-spacer {
  min-width: 3%;
}
.design-input-table, .design-verification-table {
  border-collapse: collapse;
  width: 100%
}

.design-input-table td, .design-input-table th, .design-verification-table td, .design-verification-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.design-input-table td.design-input-description {
  font-size: 0.75rem;
  max-width: 350px;
  min-width: 100px;
  text-align: left;
}


.design-input-table tr:nth-child(even){background-color: #f2f2f2;}
.design-verification-table tr:nth-child(even){background-color: #f2f2f2;}

.design-input-table tr:hover {background-color: var(--brandGrey);}
.design-verification-container p:hover {background-color: var(--brandGrey);}

.design-input-table th, .design-verification-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: var(--brandBlue);
  color: white;
}
.design-verification-container p.description {
  margin: 0;
  text-align: left;
}
.design-verification-container p.pass {
  background-color: var(--brandLightGreen);
  border-color: var(--brandGreen);
  border-radius: 10px;
  border-style: solid;
}

.design-verification-container p.fail {
  background-color: var(--brandLightRed);
  border-color: var(--brandRed);
  border-radius: 10px;
  border-style: solid;
}

.horizontal-container {
  display: inline-flex;
  flex-direction: row;
}
.design-dashboard-container {
  margin-top: 2.5em;
}
 .design-input-container, .design-verification-container {
   margin-left: 10px;
   margin-right: 10px;
   min-width: 17rem;
 }
 .design-btn {
   margin-top: 10px;
 }

 input.design-input-input[required], select.design-input-input {
   min-width: 50px;
   width: 100%;
   background-color: inherit;
   border-radius: 8px;
   border-style:none;
 }


#calc_name_btn {
  background-color: white;
  padding-left: 1em;
  padding-right: 1em;
  border: none;
  transition-duration: 0.3s;
}

#calc_name_btn:hover {
  background-color: var(--brandGrey);
}

 #logo-container, #title-container, div.centerdiv {
   display: grid;
   grid-template-columns: 1fr auto 1fr;
 }

 div.trash-div {
   text-align: left;
   padding-top: 11rem;
   padding-left: 3rem;
 }

 #delete_current_calculation, #export_current_calculation {
   height: 1em;
 }
 
 #go_back_page {
   margin-left: 40%;
   margin-top: 10%;
   height: 1.5em;
 }

 button.image-only-btn {
   background-color: white;
   border: none;
   padding: 0;
   opacity: 0.75;
 }

 button.image-only-btn:hover {
   opacity:1;
   cursor: pointer;
 }
 button.fixed-btn {
   position: fixed;
   min-width: 0;
 }
 button.in-line-button {
   min-width: 0;
 }

 .container {
     width: 100%;
     padding-right: 15px;
     padding-left: 15px;
     margin-right: auto;
     margin-left: auto;
 }

 #about-content {
   padding-left: 10%;
   padding-right: 10%;
 }

 /* Flashed Messages */
 div.alert {
   border-radius: 5px;
   background-color: var(--brandLightRed);
   color: var(--brandRed);
   opacity: 0.85;
 }

 div.alert-success {
   background-color: var(--brandLightGreen);
   color: var(--brandGreen);
 }

 div.alert p {
   padding-left: 1em;
   padding-top: 0.75em;
   padding-bottom: 0.75em;
   margin-bottom: 0em;
 }

div.index-video-pane  {
  /* position: relative; */
  border: var(--brandDark);
  border-top-style: solid;
  border-bottom-style: solid;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 2rem;
  /* background-color: var(--brandGrey); */
}
 .index-video-pane video.index-pane {
   width: 70%;
 }

 video.index2-video {
   width: 100%;
   box-shadow: inset 0 0 2rem var(--brandGrey);
 }

 .index-video-pane .text-overlay-box {
   font-weight: bold;
   width: 30%;
   /* height: 100%; */
   display: grid;
   grid-template-rows: 1fr auto 1fr;
   /* position: absolute;
   left: 5%; */
   /* BORDER-RADIUS: 10PX; */
   background-color: var(--brandGrey);
   padding: 2%;
   /* opacity: 30%; */
 }

 /* .index-pane-text {
   opacity: 100%;
 } */

 #index-pane-txt1, #index-pane-txt3 {
   color: var(--brandYellow);
 }

/* https://www.w3schools.com/howto/howto_js_slideshow.asp */
 /* Slideshow container */
.slideshow-container {
  /* max-width: 1440px; */
  position: relative;
  margin: auto;
  border-top: solid var(brandDark);
  border-bottom: solid var(brandDark);
  /* box-shadow: inset 0rem 0rem 2rem 0rem var(--brandDark); */
}
/* Hide the images by default */
.mySlides {
  display: none;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--brandDark);
  font-weight: bold;
  font-size: 3rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: var(--brandGreyTrans);
}
/* Caption text */
.slideshow-text {
  color: var(--brandDark);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 2.25rem;
  padding: 4px 12px;
  position: absolute;
  bottom: 2rem;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* text-shadow: 0 0 2rem var(--brandDark); */
  /* background-color: var(--brandGreyTrans); */
}
.slideshow-text .center-text{
  background-color: var(--brandGreyTrans);
  margin: 0;
  border-radius: 1.25rem;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--brandGrey);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.slide-active, .dot:hover {
  background-color: var(--brandDark);
}

.select-dots-container {
  position: absolute;
  width: 100%;
  bottom: 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: var(--brandGreyTrans); */
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



 @media (min-width: 400px) {
   .container {
       max-width: 375px;
   }
   .text-overlay-box  .index-pane-text{
     font-size: 1rem;
     font-weight: 400;
   }
 }
 @media (min-width: 576px) {
   .container {
       max-width: 540px;
   }
   .text-overlay-box  .index-pane-text{
     font-size: 1.2rem;
     font-weight: 550;
   }
 }

 @media (min-width: 768px) {
   .container {
       max-width: 720px;
   }
 }

 @media (min-width: 768px){
   .col-md-12 {
       -webkit-box-flex: 0;
       -ms-flex: 0 0 100%;
       flex: 0 0 100%;
       max-width: 100%;
   }
   .text-overlay-box  .index-pane-text{
     font-size: 1.5rem;
     font-weight: 650;
   }
}

@media (min-width: 992px) {
  .container {
      max-width: 960px;
  }
  .text-overlay-box  .index-pane-text{
    font-size: 1.9rem;
    font-weight: 750;
  }
}
@media (min-width: 1250px) {
  .container {
      max-width: 1220px;
  }
  .text-overlay-box  .index-pane-text{
    font-size: 2.2rem;
    font-weight: 850;
  }
}
@media (min-width: 1450px) {
  .container {
      max-width: 1425px;
  }
  .text-overlay-box  .index-pane-text{
    font-size: 2.7rem;
    font-weight: 850;
  }
}




/* .calculation-bullet {
  border-color:  #BE9607;
}

.calculation-bullet:hover {
  color: white;
  background-color:  #BE9607;
} */
