:root {
  --brandGrey: #d7dae0;
  --brandDark: #212529;
  --brandBlue: #004aad;
  --brandYellow: #faa92f;
  --brandLightGreen: #D2FFC8;
  --brandGreen: #00AF54;
  --brandLightRed: #ffc8cb;
  --brandRed: #bf211e;
}

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}


/* div{
  flex-grow: 0
} */

nav a {
  text-transform: uppercase;
  color: var(--brandDark);
  text-decoration: none;
}
nav a:hover {
  color: var(--brandGrey);
}
nav a.active {
  color: var(--brandGrey);
}
nav .nav-project a.nav-link {
  color: var(--brandYellow);
}
nav ul {
  display: flex;
  justify-content: space-evenly;
}
nav {
  margin-bottom: 2.5em;
}
nav li {
  font-family: 'Josefin Sans', sans-serif;
}
.bold-font {
  font-family: 'Josefin Sans', sans-serif;
  color: var(--brandBlue);
}

.text-center {
  text-align: center;
}

.col-md-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: var(--brandDark);
    margin-top: 0;
    margin-bottom: .5rem;
}
.h2, h2 {
    font-size: 2rem;
}
.h3, h3 {
    font-size: 1.75rem;
}
.h4, h4 {
    font-size: 1.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: var(--brandDark)
}

fieldset p {
  margin: 0;
}
span.blue-text {
    color: var(--brandBlue);
}

.small-text {
  font-size: 0.8em;
}

p.buttons {
  margin-bottom: 0px;
}

.row {
    display: flex;
    -ms-flex-wrap: wrap;
    /* margin-right: -15px;
    margin-left: -15px; */
}

button, input {
    overflow: visible;
    color: var(--brandDark);
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    min-width: 250px;
}

div.centerdiv fieldset p {
    margin-left: 0.5em;
}

html,
body {
    font-family: 'Lato', sans-serif;
    height: 100%;
    position: relative;
    margin:0px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--brandDark);
    text-align: left;
    background-color: white;
}


header {
    text-align: center;
}

li {
    display: inline;
    padding: 5px;
}

/* a {
    text-decoration: none;
    color: blue;
} */


form legend {
  font-size: 1.75rem;
  margin-bottom: 0.5em;
}

form.user-form div{
  margin-bottom: 1em;
}
form.user-form input#submit{
  margin-top: 0.7em;
}


input[type=text], input[type=password] {
    width: 50%;
    padding: 7px;
    /* margin: 5px 0 22px 0; */
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: var(--brandGrey);
    outline: none;
}

.top-container {
    /* background: ; */
    padding:5px;
    /* border-bottom:2px solid #0f0f0f; */
}
.bottom-container {
    background: #333;
    padding:13px;
    border-top:2px solid #0f0f0f;
    /* position: absolute; */
    bottom:0;
    margin-top: 20px;
}

.container-term {
    width:80%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.page-wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.base-block {
  flex-grow: 1;
}
footer {
    text-align: center;
    height: 50px;
    color: white;
    bottom: 0px;
}
footer p {
    margin-bottom: 0rem;
    color: white;
}

.btn-submit {
    background-color: var(--brandBlue);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    /* width: 100%; */
    opacity: 0.8;
}
.btn-submit:hover {
    opacity: 1;
}

.addbtn {
  background-color: white;
  color: var(--brandGrey);
  padding: 16px 20px;
  border: 2px solid black;
  cursor: pointer;
  min-width: 50px;
  width: 100%;
  margin-bottom:10px;
  opacity: 1;
}
.addbtn:hover {
  color: var(--brandDark);
  background-color: var(--brandGrey);
}

.error-message {
    color : var(--brandRed);
}

.user_welcome {
    /* margin: 10%; */
    font-size: 1.25em;
}
.beside-logo{
  display: flex;
  justify-content: flex-end;
  text-align: right;
}
.padded {
  padding: 0.5em;
}
#landing-container {
  display: flex;
  justify-content: center;
  /* background-color: var(--brandBlue); */
}

.project-container{
  width: 30%;
  margin-right: 3%;
}
.calc-list-container{
  width: 35%;
  flex-direction: column;
}


.project-bullet {
  border-radius: 0;
  background-color: white;
  color: var(--brandDark);
  border: 2px solid  var(--brandBlue);
  transition-duration: 0.3s;
  margin: -1px;
  padding: 0.2em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  min-width: 50px;
  width: 100%;
  cursor: pointer;
}

.project-bullet-selected {
  color: white;
  background-color:  var(--brandBlue);
}

.project-bullet:hover {
  color: white;
  background-color:  var(--brandBlue);
}

.design-input-table, .design-verification-table {
  border-collapse: collapse;
  width: 100%
}

.design-input-table td, .design-input-table th, .design-verification-table td, .design-verification-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.design-input-table tr:nth-child(even){background-color: #f2f2f2;}
.design-verification-table tr:nth-child(even){background-color: #f2f2f2;}

.design-input-table tr:hover {background-color: var(--brandGrey);}
.design-verification-table tr:hover {background-color: var(--brandGrey);}

.design-input-table th, .design-verification-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: var(--brandBlue);
  color: white;
}

table.design-verification-table td.pass {
  background-color: var(--brandLightGreen);
  color: var(--brandGreen);
}

table.design-verification-table td.fail {
  background-color: var(--brandLightRed);
  color: var(--brandRed);
}

.horizontal-container {
  display: inline-flex;
  flex-direction: row;
}
.design-dashboard-container {
  margin-top: 2.5em;
}
 .design-input-container, .design-verification-container {
   margin-left: 10px;
   margin-right: 10px
 }
 .design-btn {
   margin-top: 10px;
 }

 input.design-input-input[required], select.design-input-input {
   min-width: 50px;
   width: 100%;
   background-color: inherit;
   border-radius: 8px;
   border-style:none;
 }


#calc_name_btn {
  background-color: white;
  padding-left: 1em;
  padding-right: 1em;
  border: none;
  transition-duration: 0.3s;
}

#calc_name_btn:hover {
  background-color: var(--brandGrey);
}

 #logo-container, #title-container, div.centerdiv {
   display: grid;
   grid-template-columns: 1fr auto 1fr;
 }

 div.trash-div {
   text-align: left;
   padding-top: 11rem;
   padding-left: 3rem;
 }

 #delete_current_calculation, #export_current_calculation {
   height: 1em;
 }

 button.image-only-btn {
   background-color: white;
   border: none;
   padding: 0;
   opacity: 0.75;
 }

 button.image-only-btn:hover {
   opacity:1;
   cursor: pointer;
 }
 button.fixed-btn {
   position: fixed;
   min-width: 0;
 }

 .container {
     width: 100%;
     padding-right: 15px;
     padding-left: 15px;
     margin-right: auto;
     margin-left: auto;
 }

 /* Flashed Messages */
 div.alert {
   border-radius: 5px;
   background-color: var(--brandLightRed);
   color: var(--brandRed);
   opacity: 0.85;
 }

 div.alert-success {
   background-color: var(--brandLightGreen);
   color: var(--brandGreen);
 }

 div.alert p {
   padding-left: 1em;
   padding-top: 0.75em;
   padding-bottom: 0.75em;
   margin-bottom: 0em;
 }

 @media (min-width: 576px) {
   .container {
       max-width: 540px;
   }
 }

 @media (min-width: 768px) {
   .container {
       max-width: 720px;
   }
 }

 @media (min-width: 768px){
   .col-md-12 {
       -webkit-box-flex: 0;
       -ms-flex: 0 0 100%;
       flex: 0 0 100%;
       max-width: 100%;
   }
}

@media (min-width: 992px) {
  .container {
      max-width: 960px;
  }
}





/* .calculation-bullet {
  border-color:  #BE9607;
}

.calculation-bullet:hover {
  color: white;
  background-color:  #BE9607;
} */
