<div class="form-popup" id="addCalcForm">
        <!-- <div class="form-popup-header" id="addCalcFormHeader">Add New Calculation</div> -->
        <div class="form-container">
        <form class="popup" name="addcalc" action="" method="post" novalidate>
          <fieldset class="form-group">
            {{ cform.hidden_tag() }}
            <div>
              <p>{{ cform.calc_name.label }}</p>
              {{ cform.calc_name(size=35) }}
              {% for error in cform.calc_name.errors %}
                <span class="error-message">{{ error }}</span>
              {% endfor %}
            </div>
            <div>
              <p>{{ cform.description.label }}</p>
              {{ cform.description(size=20) }}
              {% for error in cform.description.errors %}
                <span class="error-message">{{ error }}</span>
              {% endfor %}
            </div>
            <div class = "select-type" style="width:100%; height = 100%;">
              <p>{{ cform.calc_type.label }}</p>
              {{ cform.calc_type }} <br>
              <!-- <p>
              {% for error in cform.calc_type.errors %}
                <span class="error-message">{{ error }}</span>
              {% endfor %}
              </p> -->
            </div>
            <p class="buttons">
              {{ cform.submit(class="btn submit") }}
            </p>
            </fieldset>
        </form>
        <button class="btn cancel" onclick="closeCalcForm()">Close</button>
        </div>
    </div>
