{% extends "calculations/view_calc_report.html" %}

{% block content %}

<script src = "static/js/calcsheet.js?v=7"></script>
<style >
  @page {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 40px;
    size: letter portrait;

    @top-center {
          content: element(pageHeaderCenter)
      }

    @bottom-right {
          content: "Page "  counter(page);
      }
  }
  #pageHeaderCenter {
    width: 100%;
    position: running(pageHeaderCenter)
  }
</style>


{% endblock %}
